{% extends 'base.html.twig' %}

{% block title %}Hello VoteController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <form action="{{ path('app_vote', { sellerId: '2' }) }}" method="post">
        <button class="" name="vote" value="up">vote up</button>
        <button class="" name="vote" value="down">vote down</button>
    </form>
</div>
{% endblock %}
