{% block body %}
<div>
Toutes les annonces
<br/>
<a href="{{ path('app_addannounce') }}">Ajouter</a>
    <ul>
        {% for announce in announces %}
            Annonce numéro  {{ announce.id }}
            <li>{{ announce.title }}  <br/><a href="{{ path('app_removeannounce',{'id': announce.id}) }}">Supprimer</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}