{% extends 'base.html.twig' %}

{% block body %}

	<div class="topMenu">
		<div class="topMenu_leftpart">
			<a href="/"><img id="logo" alt="logo" src="https://w8v6v9q2.stackpathcdn.com/images/wp-images/2018/02/leboncoin-logo-portail-immobilier-annonces-1600x308.jpg"/></a>
			<a href="/addannounce" type="submit" class="add">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-square" viewbox="0 0 16 16">
					<path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
					<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
				</svg>Déposer une annonce
			</a>
		</div>
		<div
			class="topMenu_rightpart">
			{# {% if user.isLoggedIn %}
			            Hello {{ user.name }}!
			        {% endif %} #}
			<a href="/login" type="submit" class="">Se connecter</a>
			<a href="/register" type="submit" class="">S'inscrire</a>
		</div>
	</div>
	<div class="container">
		{% block container %}
        {% endblock %}
	</div>

{% endblock %}
